altair==5.3.0

markdown-it-py==3.0.0

matplotlib==3.8.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-

numpy==1.26.4

panda==0.3.1
pandas==2.2.1

plotly==5.22.0

streamlit==1.33.0
streamlit-option-menu==0.3.12


